{% extends "Base_Admin.html" %}
{% block title %}.: Elimina Admins :.{% endblock %}

{% block contenido %}
    <script type="text/javascript">
    function EliminarAdmin(form){
        $("form").submit(function(e){
            e.preventDefault();//Desactivo el envio automatico
            swal(
                {//Método de sweetAlert para ventanas de dialogo  
                title: "¿Desea borrar este cliente?",
                text: "El usuario "+form.usr.value+" será eliminado",
                type: "warning", //Logo de cuidado :v
                showCancelButton: true,
                confirmButtonColor: "#DD6B5F",
                confirmButtonText: "Si, quiero Borrarlo",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: true 
                }, 
                function(isConfirm)
                {//Funcion de sweet alert para validar confirmacion
                if (isConfirm) {
                    $.ajax({
                        url: '/adm131',
                        type: 'POST',
                        data: {
                                usr: form.usr.value
                              },
                        cache:false,
                            success: function(response){
                                console.log(response);
                                if(response=="La persona ya no existe en el sistema"){                                    
                                    swal({
                                        title: "Usuario Invalido",
                                        text: response,
                                        type: "error"
                                        },
                                        function(){
                                            setTimeout(function(){location.href ="/adm23";},350);//Esperamos 0.35s para recargar la pagina
                                        }
                                    );
                                }else{
                                    swal({
                                        title: "Eliminación Exitosa :)",
                                        text: "Cliente Eliminado",
                                        type: "success"
                                        },
                                        function(){
                                            setTimeout(function(){location.href ="/adm23";},350);//Esperamos 0.35s para recargar la pagina
                                        }
                                    );
                                }
                            }
                        })
                    }
                }
            );
        });
    }
    </script>
<!-- CONTENIDO -->
        <div class="row">
            <nav>
                <div class="nav-wrapper grey darken-2">
                    <div class="col s12" style="text-align: center;">
                        <a href="/adm2" class="rutaNavega">Gestón Usuarios</a>
                        <i class="zmdi zmdi-chevron-right rutaNavega" style="display: inline-block;"></i>
                        <a href="#" class="rutaNavegaFinal">Eliminar</a>
                    </div>
                </div>
            </nav>
        </div>

        <h2 class="center-align">Eliminar Usuario</h2>
        <div class="container" style="margin-bottom: 15%;">
            <div class="row">
                <div class="col s12">
                    <table class="responsive-table highlight centered">
                        <thead>
                            <tr>
                                <!-- <th data-field="Email">Email</th> -->
                                <th data-field="Usuario">Usuario</th>
                                <th data-field="Nombre">Nombre</th>
                                <th data-field="Apellido1">Primer Apellido</th>
                                <th data-field="Apellido2">Segundo Apellido</th>
                                <th data-field="Modificar">Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if filas != None %}
                                {% for fila in filas %}
                                <tr>
                                    <form class="col s12" id="ModAdmin" name="ModAdmin" method="POST" action="/adm131">
                                        <input type="hidden" name="usr" id="usr" value="{{fila[1]}}">
                                        <td>{{fila[1]}}</td>
                                        <td>{{fila[2]}}</td>
                                        <td>{{fila[3]}}</td>
                                        <td>{{fila[4]}}</td>
                                        <td>                                    
                                            <button class="btn waves-effect waves-light red hola" type="submit" name="enviar" id="enviar" onclick="EliminarAdmin(this.form)"><i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                                {% endfor %}
                            {% endif %}                                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!-- CONTENIDO -->        
{% endblock %}