{% extends "Base_Usr.html" %}
{% block title %}.: Escanear Red :.{% endblock %}

{% block contenido %}
<!-- CONTENIDO --><br><br><br>
        <div class="row" style="margin-bottom: 15%;">
            <!-- Timeline -->
            <h2 class="center-align">Escanear red</h2>
            <article class="col s12">

                <div class="full-width center-align" style="margin: 40px 0; font-size: 24px;">

                    <a class="waves-effect waves-light btn-large blue"><i class="zmdi zmdi-swap-vertical-circle left"></i>Escanear</a>

                </div><br><br><br><br> 

            </article>
        </div>
<!-- CONTENIDO -->        
{% endblock %}