{% extends "Base_Usr.html" %}
{% block title %}.: Dispositivos Red :.{% endblock %}

{% block contenido %}
<!-- CONTENIDO -->
        <div class="row">
            <nav>
                <div class="nav-wrapper grey darken-2">
                    <div class="col s12" style="text-align: center;">                        
                        <a href="/usr2" class="rutaNavega">Dispositivos de red</a>
                        <i class="zmdi zmdi-chevron-right rutaNavega" style="display: inline-block;"></i>                        
                        <a href="#" class="rutaNavegaFinal">Nombre Dispositivo</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row" style="margin-bottom: 15%;">
            <!-- Timeline -->            
            <article class="col s12">

                <div class="full-width center-align" style="margin: 40px 0;">
                    
                    <div class="container">
                        <div class="row">
                            <h2 class="center-align">Nombre Dispositivo</h2>
                            <hr>
                            <div class="col s12">
                                <p class="flow-text">
                                    Lorem ipsum dolor sit amet
                                </p>
                            </div>
                            <div class="col s12">
                                <p class="flow-text">
                                    Lorem ipsum dolor sit amet
                                </p>
                            </div>
                            <div class="col s12">
                                <p class="flow-text">
                                    Lorem ipsum dolor sit amet
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="margin-bottom: 128px;">
                        <div class="row">                            
                            <div class="col s12 center-align">                                
                                <a class="waves-effect waves-light btn-large blue"><i class="zmdi zmdi-notifications-active right"></i>Activar Notificaciones</a>
                                <a class="waves-effect waves-light btn-large red"><i class="zmdi zmdi-notifications-off right"></i>Desactivar Notificaciones</a>
                            </div>                            
                        </div>
                    </div>            
                    

                </div><br><br> 

            </article>
        </div>        
<!-- CONTENIDO -->        
{% endblock %}