{% extends "Base_Usr.html" %}
{% block title %}.: Notificaciones :.{% endblock %}

{% block contenido %}
<!-- CONTENIDO --><br><br><br>
        <h2 class="center-align">Notificaciones</h2>
        <div class="row" style="margin-bottom: 15%; padding: 2%;">              
            <!-- Timeline -->
            <article class="col s12">                 
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge bg-primary"><i class="zmdi zmdi-device-hub"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">Lorem ipsum dolor</h5>
                                <p><small class="text-muted"><i class="zmdi zmdi-time"></i> 11 hours ago</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge bg-primary"><i class="zmdi zmdi-device-hub"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">Lorem ipsum dolor</h5>
                                <p><small class="text-muted"><i class="zmdi zmdi-time"></i> 10 hours ago</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge bg-primary"><i class="zmdi zmdi-device-hub"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title success">Lorem ipsum dolor</h5>
                                <p><small class="text-muted"><i class="zmdi zmdi-time"></i> 9 hours ago</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge bg-primary"><i class="zmdi zmdi-device-hub"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">Lorem ipsum dolor</h5>
                                <p><small class="text-muted"><i class="zmdi zmdi-time"></i> 8 hours ago</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
            <!-- Timeline -->         
        </div>        
<!-- CONTENIDO -->        
{% endblock %}